html {
  box-sizing: border-box;
}
body {
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #904e95,
    #e96443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443);
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.totalResult {
  position: relative;
  width: 100%;
}
.totalResult-enter {
  transition: 0.5s;
}
.totalResult-enter.totalResult-enter-active {
  transform: translateY(0%);
}
.totalResult-exit {
  transform: translateY(0);
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.totalResult-exit-active {
  opacity: 0;
  transform: translateY(-10%);
}
